*.cs linguist-detectable=true
*.c++ linguist-detectable=false
*.shader linguist-detectable=false
*.hlsl linguist-detectable=false
*.cginc linguist-detectable=false
*.fx linguist-detectable=false
*.fxh linguist-detectable=false
*.hlsli linguist-detectable=false
